*{
    padding: 0px;
    margin: 0px;
}
body {
/* margin: 0; */
/* font-family: Arial, Helvetica, sans-serif; */
background-color: black;
}

.top-container {
background-color: #f1f1f1;
padding: 30px;
text-align: center;
}

.header {

/* padding: 5px; */
background: rgb(21, 21, 21);
color: #f1f1f1;
align-items: center;
border-width: 0px;
        border-bottom: 1px;
        border-style: solid;
        border-color:#444;
}

/* .content {
z-index: -1;
}  */

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 102px;
}

.title{
        text-align: center;
        height: fit-content;
        width: 100vw;
        background-color: #2e2e2e;
        color: white;
        
        /* position:relative; */
         justify-content: center;
         /* padding: 4px; */
         border-width: 0px;
        border-bottom: 1px;
        border-style: solid;
        border-color:#444;
         /* margin-top: 50px; */
       z-index: -1;
      
    }